.idea/
/Logs/

Temp/
Library/
Builds/
obj/
bin/
.DS_Store
.vs/
.current

# This changes everytime the app runs. sod it.
Assets/Materials/skyb1/sky,startday.mat

# Unified line endings plugin for VS
.leu

*.user
*.sln
*.csproj
!UnitTests/


Packages/
Assets/Packages/
Assets/[Pp]ackages.*

# Samples and Examples
Assets/External/New\ UI\ Widgets/Examples

Assets/External/Photon/PhotonChat/Demos
Assets/External/Photon/PhotonRealtime/Demos
Assets/External/Photon/PhotonUnityNetworking/Demos
Assets/External/Photon/PhotonUnityNetworking/Icons
Assets/External/cogobyte/cogobyte_ProceduralIndicators/Demo
Assets/External/Hovl\ Studio/RPG\ FX\ pack/Demo \Scenes

